p {
  font-size: 21px;
}

.movilDevInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  height: 450px;
  border: 6px solid blueviolet;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #e6e6fa;
}

.movilDevData > img {
  width: 12rem;
  height: 12rem;
  object-fit: scale-down;
  margin-top: 0.1rem;
}

.appInfo {
  border: 1px solid blue;
  border-radius: 1rem;
  margin: 0.1rem;
  padding: 0.1rem;
}
